<div id="acc" class="flex flex-column gap-2 ">
  <span  class="p-float-label" id="">
    <input pInputText id="Email" style="width: 500px;" />
    <label htmlFor="email" class="--primary-color" >Email</label>

  </span>
  <br>
  <span class="p-float-label">
    <input pInputText id="password"  style="width: 500px;" />
    <label htmlFor="password" class="--primary-color">Password</label>
  </span>
  <br>
 <label for="checkpassword"> <p-checkbox  [binary]="true" inputId="binary"></p-checkbox>&nbsp;Remember your password</label>
 <br>
 <label for="">Already an User? &nbsp;<a routerLink="signup" style="text-decoration: none;">Sign Up</a></label>
 <br>
 <button pButton label="LogIn"  type="submit" onsubmit="" style="width: 500px;" class="p-button"></button>
 
 </div> 


