
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="accordion" >Accordion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" routerLink="timeline">Timeline</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item"  routerLink="accordion">Accordion</a></li>
              <li><a class="dropdown-item" routerLink="timeline">Time Line</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item"  routerLink="home">Class Codes</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active " routerLink="form" tabindex="-1" aria-disabled="true">Employee Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " routerLink="browser" tabindex="-1" aria-disabled="true">Browser Version</a>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-success" type="button" routerLink="signup">Show Statistics</button>&nbsp;&nbsp;
          <button class="btn btn-outline-warning" type="button" routerLink="navbar">LogIn</button>
          
        </form>
      </div>
    </div>
  </nav>
  
 

<router-outlet></router-outlet>

