<p>{{name}}</p>
<p>{{name}}{{getDetils()}}</p>

<h3 [innerText]="title"></h3>
<!-- <button [disabled]="isDisabled" >hi man</button> -->
<h3 [innerText]="inject"></h3>

<img bind-src="img" alt="" height="100px" width="50px">
<p [style.color]="color">fdddgdfgdfgdgdf</p>
<img [src]="img" alt="" height="100px" width="50px">
<!-- Event Binding -->

<div [style.]="color">
    <h1>Single</h1>
    <h3>Event Binding {{count}}</h3>
    <h4>Count Value: {{count}}</h4>
    <button  (click)="click()">Click Me!!!!!!!!!</button>
    
    <br><br>
    <h1>Multiple</h1>
    <button (click)="click()">Click Me!!!</button>
    <p class="text-primary"> Max Value is {{largest(10,12)}}</p>
</div>



<!-- Event payload -->
<input (input)="getvalue($event)">
<b>Event Payload: {{value}}</b>
<br>
<!-- template Binding -->
<input #val (input)="getvalue1(val)">
<b>Template Binding: {{value1}}</b>
<br>
<!-- Key Event -->
<input type="text" (keyup)="value2=$any($event.target).value">
<b>KeyUp Event: {{value2}} </b>
<br>
<input type="text" (keyup.enter)="value3=$any($event.target).value">
<b>KeyUp.enter Event: {{value3}} </b>
<br>
<input type="text" (keyup.control.shift.enter)="value4=$any($event.target).value">
 <b> KeyUp.control.shift.enter Event: {{value4}} </b>
 <br>
 <input type="text" (keyup.enter)="value5=$any($event.target).value"
           (keyup.escape)="$any($event.target).value=value5=''">
<b>KeyUp.enter Event: {{value5}} press escape to clear </b>

<!-- Two way Binding -->
<br>
<input type="text" name="value" [(ngModel)]="value6">
<b>value=  {{value6}}</b>
<br>
<button (click)="clear()">Clear</button>


<ul>
    <li *ngFor="let x of trainees ">
<p>Trainee: {{x.traineeId}}</p>
    </li>
</ul>